
Escritorio
Música
Público
Vídeos
Imágenes
Descargas
Documentos
Plantillas
.dotfiles
.fonts
.local
.gconf
.macromedia
.rpmdb
.ackrc
.git
.ssr
.adobe
.atom
.gitconfig
.sudo_as_admin_successful
.gitignore_global
.themes
.bash_history
.gksu.lock
.thumbnails
.bash_logout
.gtkrc-2.0
.mozilla
.bash_profile
.gvfs
.bashrc
.hyper.js
.nano
.cache
.w3m
.cinnamon
.ICEauthority
nginx-1.9.9.tar.gz
.wget-hsts
.icons
.node_repl_history
.Xauthority
.dbus
.npm
.xsession-errors
.image.so
.nv
.xsession-errors.old
.dmrc
.zcompdump
.pki
.zcompdump-machine-5.1.1
.jscsrc
.zplug
dwhelper
.jshintrc
.profile
.zsh_history
.electron
.kde
.linuxmint
.rainbow_config.json
.zsh-update
.eslintrc
.lmmsrc.xml
.rainbow_oauth
.config/Atom
.config/autostart
.config/Brackets
.config/brasero
.config/caja
.config/cinnamon-session
.config/configstore
.config/chromium
.config/dconf
.config/easytag
.config/Electron
.config/EME
.config/enchant
.config/Franz
.config/gtk-2.0
.config/gtk-3.0
.config/Harmony
.config/hexchat
.config/htop
.config/libreoffice
.config/LightTable
.config/Markdownify
.config/menus
.config/mimeapps.list
.config/Min
.config/moeditor
.config/mps-youtube
.config/mpv
.config/mstream-express
.config/nemo
.config/nitrogen
./config/nvim
.config/odrive
.config/pulse
.config/raimbowstream
.config/sound-juicer
.config/spotify
.config/Trolltech.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc
.config/xed
.config/xplayer
.config/xreader
.config/xviewer
